@utility root-transition {
  --tw-transition-property: 
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --tw-gradient-from,
    --tw-gradient-via,
    --tw-gradient-to;

  transition-property: var(--tw-transition-property);
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--theme-transition);
}